# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.bak

# Distribution / packaging
.Python
build/
dist/
*.whl
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/